<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首頁</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="css/all.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"/>
	<link rel="Shortcut Icon" type="image/x-icon" href="img/icon.png" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	<!-- <% if(userid == "undefined") %> -->
	<div class="header">
		<% if(userid > 0) { %>
			<a href="http://140.127.218.203:3005/homepage"><img src="pic/logo.png" title="八角投票網"></a>
			<div id="right_login_btn"><a href="http://140.127.218.203:3005/user_edit" id="username"><%= user[0].u_account %></a><a href="http://140.127.218.203:3005/logout" id="log_state">登出</a></div>
		<% }else{ %>
			<a href="http://140.127.218.203:3005/homepage"><img src="pic/logo.png" title="八角投票網"></a>
			<div id="right_login_btn"><a href="http://140.127.218.203:3005/login" id="log_state">登錄</a></div>
		<% } %>
	</div>
	<div class="clear"></div>
	<div class="wrap">
		<div class="allvote-vote-content">
			<% for(var i=0;i<file.length;i++){ 
				var k=0;
				for(var j=0;j<T_message.length;j++){ 
					if(T_message[j].v_id == file[i].v_no){
						k=T_message[j].total;
					}
				}
			%>
			
			<div class="vote-data"><a href="http://140.127.218.203:3005/history?no=<%= file[i].v_no %>">
				<h2><%= file[i].name %></h2>
				<p>總投票數：<%= file[i].totalvote %> 票</p>
				<p><%= k %> 則評論</p>
				<p>截止時間：<%= file[i].endtime.toLocaleString() %></p>
			</a></div>
			<% } %>
					
			<div class="clear"></div>
		</div>	

		<div class="clear"></div>
	</div>
	<div class="footer">		
		<p>Copyright © 2017 NUKIM. All rights reserved.</p>		
	</div>
	
	<!-- 引入外部 JS -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="js/style.js"></script>
</body>
</html>