<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>後台分析</title>
	<link rel="stylesheet" href="css/all1.css">
	<link rel="Shortcut Icon" type="image/x-icon" href="pic/icon.png" />
	<script src="https://d3js.org/d3.v4.0.0-alpha.4.min.js"></script>
</head>
<body>
	<div class="header">
		<a href=""><img src="pic/logo.png" title="八角投票網"></a>
		<div id="right_login_btn"><a href="user_edit.html" id="username">manager1</a><a href="backstage_login.html" id="log_state">登出</a></div>
	</div>
	<div class="wrapper_backstage_analysis">
		<h2>後台分析</h2>
		<div class="vote_option_analysis">
			<h3><%= file[0].name %></h3>
			<div class="backstage_vote_choice">
				<h3>戰況分析</h3>
						<ul>
							<%
								var k;
								var a=new Array(5);
								a[0]=file[0].Option1;
								a[1]=file[0].Option2;
								a[2]=file[0].Option3;
								a[3]=file[0].Option4;
								a[4]=file[0].Option5;
								a[5]=file[0].Option6;
								a[6]=file[0].Option7;
								a[7]=file[0].Option8;
								a[8]=file[0].Option9;
								a[9]=file[0].Option10;
							 	for(var i=0;i<10;i++){
									if(a[i]=="undefined"){
										break;
								}
								k="r"+(i+1);
							%>
								<li>
									<div class="opt">
										
										<label for=<%= k %>><div class="backstage_choice_content"><div class="choice_color<%= (i+1) %>"style="width:<%= (vote_option[i]/(totalvote/100)) %>%"><%= a[i] %></div></div><div style="text-align: center;width:800px;"><%= vote_option[i] %> 票</div></label>
										
									</div>
								</li>


							<% }; %>
						</ul>
				</div>
		</div>
		<div class="piechart_analysis">
			<div class="gender_analysis">
				<h3>性別比</h3>
				<div style="background:rgba(255, 79, 79, 0.7);width:10px;height:10px"></div><p><%= gender[0].u_gender %></p><br>
				<div style="background:rgba(54, 124, 255, 0.7);width:10px;height:10px"></div><p><%= gender[1].u_gender %></p>
				<canvas id="gender" width="400" height="300"></canvas>
			</div>
			<div class="age_analysis">
				<h3>年齡比</h3>
				<% 	for(var xxx=0;xxx<age.length;xxx++){ %>
					<div class="choice<%= (xxx+1) %>"></div><p><%= age[xxx].agerang %></p><br>
				<% } %>
				<canvas id="age" width="400" height="300"></canvas>
			</div>
		</div>
	</div>
		
</body>
<script>
	var data = [<%= gender[0].COUNT %>, <%= gender[1].COUNT %>];

	var canvas = document.querySelector("#gender"),context = canvas.getContext("2d");

	var width = canvas.width,height = canvas.height,radius = Math.min(width, height) / 2;

	var colors = ["#FF4F4F", "#367CFF"];

	var arc = d3.arc().outerRadius(radius - 10).innerRadius(0).padAngle(0.03).context(context);

	var pie = d3.pie();

	var arcs = pie(data);

	context.translate(width / 2, height / 2);

	context.globalAlpha = 0.7;
arcs.forEach(function(d, i) {
		context.beginPath();
		arc(d);
		context.fillStyle = colors[i];
		context.fill();
});

context.globalAlpha = 1;
context.beginPath();
arcs.forEach(arc);
</script>
<script>
	var data2 =new Array();
	<% 	for(var z=0;z<age.length;z++){  %>
		data2.push(<%=age[z].COUNT%>)
	<%	} %>
	console.log(data2)
	var canvas = document.querySelector("#age"),context = canvas.getContext("2d");

	var width = canvas.width,height = canvas.height,radius = Math.min(width, height) / 2;

	var colors = ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd","#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"];

	var arc = d3.arc().outerRadius(radius - 10).innerRadius(0).padAngle(0.03).context(context);

	var pie = d3.pie();

	var arcs = pie(data2);

	context.translate(width / 2, height / 2);

	context.globalAlpha = 0.7;
	arcs.forEach(function(d, i) {
			context.beginPath();
			arc(d);
			context.fillStyle = colors[i];
			context.fill();
	});

	context.globalAlpha = 1;
	context.beginPath();
	arcs.forEach(arc);
	
</script>



</html>
